body {
  font-family: "Montserrat";
}

.titlea {
  background-color: #ff4c68;
  color: white;
}

.container {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

.navplease {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-im{
  width: 100%;
  transform: rotate(10deg);
}

/* feature */

.fas{
  color: #ef8172;
  margin-bottom: 1rem;
  /* font-size: 3rem; */
}

.fas:hover{
  color: #ff4c68;
}

.features{
  /* padding-top: 10%;
  padding-bottom: 10%;
  width: 33%; */
  padding: 7% 15%;
}

.easy{
  text-align: center;
  padding: 5%;
}

h3{
  font-weight: bold;
}

p{
  color: grey;
}
